@model User

<div class="offset-sm-4 col-sm-4 justify-content-center mb-5 mt-5">
    <div class="card">
        <article class="card-body">
            <h4 class="text-left mb-4 mt-1">Activation Email had been sent to User.</h4>
            <hr>
            <text>Click <a href="~/Account/ListUsers">here</a> to go to list of users page.</text>
        </article>
    </div>
</div>
