@model ResetPassword
<div class="offset-sm-4 col-sm-4 justify-content-center mb-5 mt-5">
    <div class="card">
        <article class="card-body">
            <h4 class="card-title text-left mb-4 mt-1">Password reset successfully</h4>
            <hr>
            <text>Click <a href="~/Portal/Home">here</a> to return to the Accelerator homepage.</text>
        </article>
    </div>
</div>
