@model Event;

@section MoreScripts {
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/lib/moment/moment.min.js"></script>
    <link href="~/lib/dtpicker/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <script src="~/lib/dtpicker/js/tempusdominus-bootstrap-4.min.js"></script>

    <script language="javascript">
     $(document).ready(function () {
         $('#JSStartDT')
            .datetimepicker({
               format: 'DD/MM/YYYY HH:mm',
               sideBySide: true
            });
        $('#JSEndDT')
            .datetimepicker({
               format: 'DD/MM/YYYY HH:mm',
               sideBySide: true
            });
      });
    </script>
}

<form asp-controller="Event"
      asp-action="EventEdit"
      method="post">

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-6 ">
            <h2>Update Event Record</h2>
        </div>
    </div>

    <input asp-for="Id" hidden />

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Title">Title :</label>
        <div class="col-sm-5">
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Description">Artist :</label>
        <div class="col-sm-5">
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="StartDate">Date :</label>
        <div class="col-sm-5">
            <div class="input-group date" id="JSStartDT" data-target-input="nearest">
                <input type="text" asp-for="StartDate" class="form-control" />
                <div class="input-group-append" data-target="#JSStartDT" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="EndDate">Date :</label>
        <div class="col-sm-5">
            <div class="input-group date" id="JSEndDT" data-target-input="nearest">
                <input type="text" asp-for="EndDate" class="form-control" />
                <div class="input-group-append" data-target="#JSEndDT" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Venue">Title :</label>
        <div class="col-sm-5">
            <input asp-for="Venue" class="form-control" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Venue" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <div class="alert alert-@ViewData["MsgType"]">
                    @ViewData["Message"]
                </div>
            </div>
        </div>
    }
</form>